# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production builds
client/dist/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Portable Git
git-portable/

# Editor / System files
.vscode/
.idea/
.DS_Store
Thumbs.db
